

<div class="header">
        <div class="content">
        <img class="headerLogo" src="assets/images/CABanner.png" alt="Midland Code Academy Logo">
        <h1 class="nameTitle text-uppercase">Tech Warriors</h1>
        <a class="navLink" [routerLink]="[ '/homepage' ]" routerLinkActive="active" (click)="reload()">Home</a>            
        <img class="headerLogo" src="https://pbs.twimg.com/profile_images/1101579081483776000/3iMhQlTr_400x400.png" alt="">
        <a class="navLink" [routerLink]="[ '/homepage' ]" routerLinkActive="active">Home</a>            
        </div>
</div>
