@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

.background {
  background-image: linear-gradient(#0e2340,  #EE7623);
  height: 100vh;
}

.center{
  text-align: center;
  color: white;
}

.questionContainer, .resultContainer{
  margin: 0 auto;
  width: 60%;
}

.resultContainer {
  background-color: white;
  padding: 30px;
}

#searchsubmit {    
    visibility: hidden;
}

#thankYou {    
    visibility: hidden;
}

#visible {
  visibility: visible;
}

#visible2 {
  visibility: visible;
}

#hidden {
  visibility: hidden;
}

#visible3 {
  visibility: visible;
}

#hidden2{
  visibility:  hidden;
}
