.background {
  background-image: linear-gradient(#0e2340,  #EE7623);
}

.full-page {
  height: 100vh;
}

mat-card{
  min-width: 330px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: rgb(255,255,255,0.95);
}

.center {
  margin: auto;
  text-align: center;
}

.spacing {
  padding-bottom: 50px;
}

.form {
  max-width: 500px;
  width: 100%;
}

.button {
  margin: 1em;
}

.flex {
  display: flex;
  flex-flow: column wrap;
}

.left {
  flex-basis: 50%;
}

.first-card {
  background-color: rgba(0,0,0,0);
  color: white;
}

.second-card {
  height: 300px;
}

@media (max-width: 768px) {
  .left {
    flex-basis: 100%;
  }

  .flex {
    flex-flow: row wrap;
  }
}