
<div class="background full-page flex">

  <mat-card class="left first-card">
    <mat-card-title class="center spacing"><b>Quiz Whip!</b></mat-card-title>
    <mat-card-content>
      <p class="subtitle"><i>Create and manage quizes and tests</i></p>
      <p class="subtitle"><i>Easily share with students</i></p>
      <p class="subtitle"><i>Manage scores and track progress</i></p>
    </mat-card-content>
    <button class="main" mat-button [matMenuTriggerFor]="QuizRoute" >Menu</button>
  </mat-card>

  <mat-card class="left first-card">
    <mat-card-title class="center spacing"><b>The Brain Train</b></mat-card-title>
    <mat-card-content>
      <p class="subtitle"><i></i>Use this Learning Webpage to Train you Brain</p>
      <p class="subtitle"><i></i>Keep Quizes from Whipping your bum</p>
      <p class="subtitle"><i>Create and manage lessons</i></p>
      <p class="subtitle"><i>Easily share with students</i></p>
      
    </mat-card-content>
    <button class="main" mat-button [matMenuTriggerFor]="LearningRoute" >Menu</button>
  </mat-card>

  

</div>
<div *ngIf="error">
  <p>{{error}}</p>
</div>