<div class="header">
  <img class="headerLogo" src="./assets/images/braintrain2.png" alt="">
  <div class="content" >
      <a class="navLink" [routerLink]="['/learning/homepage']"  routerLinkActive="active">Home</a>
          <a class="navLink" [routerLink]="['/learning/content']" routerLinkActive="active">Learning Content</a>
          
          <a class="navLink" [routerLink]="[ '/learning/uploader' ]" routerLinkActive="active"
                  *ngIf="(user$ | async).permission === 'admin' || (user$ | async).permission === 'teacher'">Upload</a>
          <!-- <a class="navLink" [routerLink]="[ 'quiz/admin' ]" routerLinkActive="active"
                  *ngIf="(user$ | async).permission === 'admin'">Admin</a> -->
          
<a class="navLink" [routerLink]="[ '/admin' ]" routerLinkActive="active" *ngIf="(user$ | async).permission === 'admin'">Admin</a>        
<a class="navLink" [routerLink]="[ '/quiz/dashboard' ]">To Quizwhip</a>
<p class="navLink" *ngIf="(user$ | async).permission" (click)="signOut()">Sign Out</p>


  </div>

</div>
