<div class="background full-page">
  <mat-card class="matCard">
    <mat-card-header class="center">
      <mat-card-title class="fontSize">Users</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="editperm">
        <th mat-header-cell *matHeaderCellDef > Edit Permission </th>
        <td mat-cell *matCellDef="let row" > 
          <mat-select (change)="changePermission()">
            <mat-option *ngFor="let permission of permissions" >
              {{permission.viewValue}}
            </mat-option>
          </mat-select>
        </td> 
        
      </ng-container> 
      <ng-container matColumnDef="displayname">
        <th mat-header-cell *matHeaderCellDef> Display Name </th>
        <td mat-cell *matCellDef="let user"> {{user.payload.doc.data().displayname }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.payload.doc.data().email}} </td>
      </ng-container>
      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef> Permission </th>
        <td mat-cell *matCellDef="let user"> {{user.payload.doc.data().permission}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </mat-card>
