<div class="background full-page">
  <mat-card class="matCard">
    <mat-card-header class="center">
      <mat-card-title class="fontSize">Users</mat-card-title>
    </mat-card-header>
    
  
    <table mat-table [dataSource]="users">
  
      <ng-container matColumnDef="displayname">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let result"> {{users.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let result"> {{users.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let result"> {{users.permission}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
  </mat-card>