<h2>Users</h2>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Authority</th>
  </tr>
  <tr>
    <td>FOR EACH EMAIL PUT HERE</td>
    <td>
      <mat-form-field>
        <mat-label>Authority</mat-label>
        <mat-select>
          <mat-option value="user">User</mat-option>
          <mat-option value="teacher">Teacher</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  Name Column
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{users.name}} </td>
  </ng-container>

  Email Column
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{users.email}} </td>
  </ng-container>

  User Type Column
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-select>
        <mat-option value="user">User</mat-option>
        <mat-option value="teacher">Teacher</mat-option>
        <mat-option value="admin">Admin</mat-option>
    </mat-select> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->