<mat-toolbar class="header">
        <img src="./assets/images/quizWhipSemiBold300.png" alt="Quiz Whip Logo" class="center">
        <button class="main" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button *ngIf="" mat-menu-item routerLink="/dashboard">Dashboard</button>
            <button *ngIf=""mat-menu-item (click)="takeQuiz()">Take Quiz</button>
            <button mat-menu-item routerLink="/quiz_form">Create Quiz</button>
            <button mat-menu-item (click)="admin()">Admin</button>
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
    </mat-toolbar>
    