<mat-toolbar class="header">
        <img src="./assets/images/quizWhipSemiBold300.png" alt="Quiz Whip Logo" class="center">
        <button *ngIf="(userPerm | async) !== ''" class="main" mat-button [matMenuTriggerFor]="menu" >Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/dashboard">Dashboard</button>
            <button mat-menu-item (click)="takeQuiz()">Take Quiz</button>
            <button mat-menu-item routerLink="/quiz-form" *ngIf="(userPerm | async) === 'admin' || (userPerm | async) === 'owner'">Create Quiz</button>
            <button mat-menu-item routerLink="/admin" *ngIf="(userPerm | async) === 'owner'">Admin</button>
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
    </mat-toolbar>
    
