<div class="background full-page">

  <h2>User Panel</h2>
  <div class="main-table table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Score</th>
          <th scope="col">Instructor</th>
          <th scope="col">Quiz</th>
          <th scope="col">Quiz ID</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quiz of userQuizes">
          <td scope="row">{{quiz.score}}%</td>
          <td>{{quiz.creator}}</td>
          <td>{{quiz.title}}</td>
          <td>{{quiz.id}}</td>
          <td>{{quiz.date | formatDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 *ngIf="this.permission == 'admin'">Admin Panel</h2>
  <div class="main-table table-responsive" *ngIf="this.permission == 'admin'">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Score</th>
            <th scope="col">Student</th>
            <th scope="col">Quiz</th>
            <th scope="col">Quiz ID</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of adminScores">
            <td scope="row">{{quiz.score}}%</td>
            <td>{{quiz.username}}</td>
            <td>{{quiz.title}}</td>
            <td>{{quiz.id}}</td>
            <td>{{quiz.date | formatDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>